* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 128, 128);
    gap: 1rem;
    min-height: 550px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    gap: 0.5rem;
    min-height: 550px;
}

.form-control {
    display: flex;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
    color: #00c1fb;
    flex-direction: column;
    gap: 0.5rem;
}

form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #00b3ff;
    border-radius: 0.25rem;
}

form input:focus {
    outline: none;
    border-color: rgb(0, 162, 255);
    box-shadow: 0 0 0 3px rgb(0, 204, 255);
}

.error {
    border-color: #f00;
}

.error-text {
    color: #f00;
    font-size: 0.75rem;
}

form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgb(0, 183, 255);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(0, 162, 255);
    scale: 1.05;
    font-weight: bold;
}
